@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    font-family: "Outfit", Helvetica, sans-serif;
    font-size: 18px;
    background-color: hsl(217, 54%, 11%);
}

/* Colors
Primary
- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

Neutral
- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

Sizes: 
- Mobile: 375px
- Desktop: 1440px
*/

.card_container {
    border: 1px solid red;
    border-radius: 12px;
    background-color: hsl(216, 50%, 16%);
    width: 327px;
    height: 543px;
    color: hsl(215, 51%, 70%);
    margin: 7.5% auto;
    display: flex;
    flex-direction: column;
}

.card_container img {
    width: 100%;
    height: auto;
    padding: 48px;
    background-color:hsl(216, 50%, 16%);
    border-radius: 8px 8px 0 0 ;
}

.text_container {
    background-color:hsl(216, 50%, 16%);
    border: 1px solid red;
}

.text_container img {
    border: 1px solid white;
    width: 10;
    height: auto;
    display: inline;
}

footer { 
    font-size: 10px; 
    color: white;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    transition: all 200ms ease-in-out;
    text-decoration: none;
}

.attribution a:hover {
    color: hsl(178, 100%, 50%)
}

@media only screen and (min-width: 1440px) {
    .card_container {
        /* border: 1px solid red; */
        width: 350px;
        height: 596px;
        
    }
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 768px) {
    
}